<form [formGroup]="employeeFormgroup" (ngSubmit)="onSubmit()">

  <mat-dialog-content>

    <div class="image-containter">
      <mat-grid-list cols="5">
        <mat-grid-tile *ngFor="let pic of pageImages; index as i"
        [ngStyle]="{'opacity': (selectedImageIndex === i ? 1: 0.5)}"
        [ngClass]="{'selected': selectedImageIndex === i}"
        (click)="selectImage(i)">
        <!-- <img *ngIf="selectedImageIndex === null && i === 0" src="/src/assets/images/default-picture.png"> -->
        <img src="{{pic.download_url}}" alt="Image{{i}}">
      </mat-grid-tile>
    </mat-grid-list>
    <mat-paginator (page)="handlePageEvent($event)" [pageSize]="5" [length]="imgArray.length"></mat-paginator>
  </div>
  <mat-form-field class="input-field">
    <input matInput placeholder="Image Url" type="text" formControlName="pictureUrl" [value]="selectedImageUrl">
  </mat-form-field>


    <h4>Add Member Dialog</h4>
    <mat-form-field style="padding-right: 10px;">
      <input
      matInput placeholder="First Name"
      type="text"
      class="form-control"
      name="first_name"
      formControlName="first_name"

      >
    </mat-form-field>

    <mat-form-field style="padding-right: 10px;">
      <input
        matInput placeholder="Last Name"
        type="text"
        class="form-control"
        name="last_name"
        formControlName="last_name"

        >
    </mat-form-field>

    <mat-form-field >
      <mat-select style="margin-right: 20px;;" placeholder="Title" formControlName="job_id" >
        <mat-option [value]="job.id" *ngFor="let job of jobs; index as i">
          {{job.job_titles}}
        </mat-option>

      </mat-select>
    </mat-form-field>

    <mat-form-field >
      <mat-select  style="margin-right: 20px;" placeholder="Team" formControlName="team_id" >
        <mat-option [value]="team.id" *ngFor="let team of teams; index as i">
          {{team.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>


  <mat-dialog-actions align="end">
    <button mat-button matDialogClose>Cancel</button>    <button type="submit" mat-button>Submit</button>
  </mat-dialog-actions>

  </form>
