<form [formGroup]="employeeFormgroup" >

  <div class="image-containter">
    <mat-grid-list cols="5">
      <mat-grid-tile *ngFor="let pic of pageImages; index as i">
        <img src="{{pic.download_url}}" alt="Image{{i}}">
      </mat-grid-tile>
    </mat-grid-list>
    <mat-paginator (page)="handlePageEvent($event)" [pageSize]="5" [length]="imgArray.length"></mat-paginator>
  </div>


  <mat-dialog-content>
    <h4>Add Member Dialog</h4>
    <mat-form-field style="width: 50%;">
      <input
        matInput placeholder="First Name"
        type="text"
        class="form-control"
        name="first_name"
        formControlName="first_name"

        >
    </mat-form-field>

    <mat-form-field style="width: 50%;">
      <input
        matInput placeholder="Last Name"
        type="text"
        class="form-control"
        name="last_name"
        formControlName="last_name"

        >
    </mat-form-field>

    <mat-form-field>
      <mat-select  placeholder="Title" formControlName="job">
        <mat-option [value]="job" *ngFor="let job of jobs; index as i">
          {{job.job_titles}}
        </mat-option>

      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select  placeholder="Team" formControlName="team" >
        <mat-option [value]="team" *ngFor="let team of teams; index as i">
          {{team.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>


  <mat-dialog-actions align="end">
    <button mat-button matDialogClose>Cancel</button>    <button type="submit" mat-button>Submit</button>
  </mat-dialog-actions>

  </form>
