
<form [formGroup]="teamFormgroup" (ngSubmit)="onSubmit()">

  <mat-dialog-content>
    <h4 style="color: red" *ngIf="error">Please Enter a team name and description </h4>
    <p><mat-form-field style="width: 400px;">
      <input
        matInput placeholder="Team Name"
        type="text"
        class="form-control"
        name="name"
        formControlName="name"

        >
    </mat-form-field></p>
    <p><mat-form-field style="width: 400px;">
      <input
        matInput placeholder="Team Description"
        type="text"
        class="form-control"
        name="description"
        formControlName="description"

      >
    </mat-form-field></p>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button matDialogClose>Cancel</button>    <button type="submit" mat-button>Submit</button>
  </mat-dialog-actions>

</form>

