<mat-toolbar >
  <img src="assets/images/vizient-logo-registered.svg" alt="" style="border-right:1px solid #cc3e00;padding-right: 5px;">
  <span style="color:white; margin-left: 2%;">VizTeams</span>
  <span
    class="username"
    style="color:white; display: flex; align-items: center; vertical-align: middle"
    *ngIf="!!currentUser">
      Welcome {{currentUser.first_name}}
      <mat-dialog-actions>
        <button mat-raised-button (click)="onLogout()" style="background-color: #7d73b5; color:white">Logout</button>
      </mat-dialog-actions>
  </span>

  <div class="login" *ngIf="!currentUser">
    <mat-dialog-actions>

      <button mat-flat-button (click)="openForm()" style="background-color: #7d73b5; color:white;" class="no-ripple" matRippleDisabled>Login</button>

      <button mat-raised-button color="primary" class="signup-button" (click)="openSignupDialog()">Signup</button>

    </mat-dialog-actions>
  </div>
</mat-toolbar>
