mat-toolbar {
  background-color: #ff4e00;
}

img {
  width: 100px
}

.username {
  margin-left: auto;
}

.login{
  margin-left: auto;
}

.mat-button, .mat-icon-button, .mat-raised-button, .mat-icon-button, .mat-fab, .mat-mini-fab {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  pointer-events: none;
}

.no-ripple {
  pointer-events: auto;
}
