
<form [formGroup]="employeeFormgroup" (ngSubmit)="onSubmit()">

  <mat-dialog-content>
    <h4 style="color: red" *ngIf="error">Please Enter a team name and description </h4>
    <p><mat-form-field style="width: 400px;">
      <input
        matInput placeholder="First Name"
        type="text"
        class="form-control"
        name="first_name"
        formControlName="first_name"
        required
        >
    </mat-form-field></p>
    <p><mat-form-field style="width: 400px;">
      <input
        matInput placeholder="Last Name"
        type="text"
        class="form-control"
        name="last_name"
        formControlName="last_name"
        required
      >
    </mat-form-field></p>

    <p>
      <mat-form-field >
        <mat-select style="margin-right: 20px;;" placeholder="Title" formControlName="job" >
          <mat-option [value]="job" *ngFor="let job of jobs; index as i">
            {{job.job_titles}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field >
        <mat-select  style="margin-right: 20px;" placeholder="Team" formControlName="team" >
          <mat-option [value]="team" *ngFor="let team of teams; index as i">
            {{team.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  </p>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button matDialogClose>Cancel</button>    <button type="submit"  [disabled]="!employeeFormgroup.valid" mat-button>Edit Team</button>
  </mat-dialog-actions>

</form>

