<div class="noScroll">
  <div class="row" style="padding: 2%">
    <div class="col-md-6">
      <mat-card style="height: 500px; overflow-y: auto; overflow-x: hidden; position: relative;">
        <header style="border-bottom: solid black 1px;"><h1>Teams</h1></header>
        <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
        <div style="height: 350px; overflow-y: auto;">
          <mat-expansion-panel
            class="custom-expansion-panel"
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
            style="margin-top: 2%;"
            *ngFor="let team of displayTeams">
            <mat-expansion-panel-header>
              <mat-panel-title>{{team.name}}</mat-panel-title>
            </mat-expansion-panel-header>
<!-- List members of team in expansion panels w/ default avatar pic -->
        <div class="row" style="border-top: solid black 1px; padding: 10px;">
          <mat-grid-list cols="12" rowHeight="80" gutterSize="5px">
          <mat-grid-tile *ngFor="let member of team.members">
            <img
              src="{{ member.pictureUrl || 'default-picture.png' }}"
              alt="Member Picture"
              style="width: 65px; height: 65px; object-fit: cover; margin: 5px;"
              [matTooltip]="member.name"
              matTooltipPosition="above"
              matTooltipShowDelay="500"
              matTooltipHideDelay="0"
            >
          </mat-grid-tile>
          </mat-grid-list>
          <p *ngIf="team.members.length === 0" class="no-members-prompt">No members on this team.</p>
        </div>
            <mat-action-row>
              <span class="team-count">{{ team.members.length }}/12</span>
              <button mat-icon-button matTooltip="Add Member" (click)="onAddMember()">
                <mat-icon class="person-add-icon">person_add</mat-icon>
              </button>
            </mat-action-row>
          </mat-expansion-panel>
        </div>
        <mat-action-row style="border-top: solid grey 1px; background-color: white; margin-top: 5%; position: absolute; bottom: 0; width: 100%; ">
          <div style="margin-left: 90%;">
            <button mat-icon-button  matTooltip="Add Team" (click)="onAddTeam()">
              <mat-icon matDialogClose style="color: #5E6E78">add_box</mat-icon>
            </button>
          </div>
        </mat-action-row>
      </mat-card>
    </div>

    <div class="col-md-6">
      <mat-card style="height: 450px; margin-top: 5%;">
        <div style="height: 300px; display: flex; align-items: center; ">
          <mat-card-content style="margin: auto"><h1>Select a team to view members</h1></mat-card-content>
        </div>
      </mat-card>
    </div>
  </div>
</div>
