body{
  overflow: auto;
}

.noScroll {
  overflow: hidden;
}


.no-members-prompt {
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  font-weight: bold;
  text-align: center;
  height: 100%;
}

.custom-expansion-panel {
  ::ng-deep .mat-expansion-panel-content {
    background-color: #CCCCCC;
  }
}

.person-add-icon {
  color: rgb(69, 90, 100, .87);
}

.team-count {
  vertical-align: middle;
  color: rgb(69, 90, 100, .87);
  margin-left: 10px;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
mat-action-row
 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
 }


 .employee-details-container {
  display: flex;
  align-items: center;
  font-size: 20px;
  color:  grey;
}

.employee-picture {
  margin-right: 20px;
}

.employee-details {
  flex: 1;
}
