body{
  overflow: auto;
}

.noScroll {
  overflow: hidden;
}


.no-members-prompt {
  margin: 0 auto;
  color: gray;
  font-weight: bold;
  text-align: center;
}

.custom-expansion-panel {
  ::ng-deep .mat-expansion-panel-content {
    background-color: #CCCCCC;
  }
}

.mat-icon-button {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.team-count {
  position: absolute;
  bottom: 5px;
  right: 50px;
}

// .custom-expansion-panel .mat-expansion-panel-header {
//   position: relative;
// }

// .custom-expansion-panel .no-members-prompt {
//   position: absolute;
//   top: -100%;
// }


