body{
  overflow: auto;
}

.noScroll {
  overflow: hidden;
}


.no-members-prompt {
  position: absolute;
  margin-top: 20px;
  color: gray;
  font-weight: bold;
  text-align: center;
}

.custom-expansion-panel {
  ::ng-deep .mat-expansion-panel-content {
    background-color: #CCCCCC;
  }
}

.person-add-icon {
  color: rgb(69, 90, 100, .87);
}

.team-count {
  vertical-align: middle;
  color: rgb(69, 90, 100, .87);
  margin-left: 10px;
}

mat-action-row
 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
 }
